.event-wrapper {
  .event-header {
    min-height: 86px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    flex-direction: row;
    align-items: center;
    .page-header {
      font-family: Lato;
      font-weight: bold;
      font-size: 25px;
      line-height: 22px;
      color: #4d556a;
      text-align: left;
    }
    .user-profile {
      text-align: right;
    }
  }
  .event-filter-row {
    width: fit-content;
    margin-top: 20px;
    .filter-title {
      font-family: Lato;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #4d556a;
      width: 80px;
    }
  }
  .event-filter-options {
    margin-top: 20px;
    width: fit-content;
    .mat-input-tag {
      min-width: 130px;
      width: 130px;
    }
    .form-group {
      width: 122px;
      margin-right: 10px;
      .form-control {
        height: 36px;
        background: transparent;
        border: none;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        width: 122px;
        border: 1px solid #9d9ea8;
        box-sizing: border-box;
        border-radius: 3px;
        color: #9d9ea8;
      }
    }
    .single-select {
      // padding: 0px 10px;
      padding-top: 5px;
      padding-left: 8px;
      border: 1px solid #9d9ea8;
      box-sizing: border-box;
      border-radius: 3px;
      // background-color: white;
      outline: none;
      color: #9d9ea8 !important;
      height: 56px;
      width: 122px;
      height: 36px;
      font-family: LATO-Regular;
      font-size: 12px;
      line-height: 14px;
      padding-right: 8px;
      padding-right: 8px;
    }
    .select-date-range {
      width: 160px !important;
      margin-left: 10px;
    }
    .right-side-button-panel {
      position: absolute;
      right: 0;
      width: auto;
      .filter-delete-button {
        width: fit-content;
        margin-left: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.export-btn-section {
  position: absolute;
  width: fit-content;
  right: 0;
  margin-right: 10px;
  margin-top: 20px;
  .export-btn {
    width: 105px;
    height: 36px;
    border: 1px solid #cfd3d2;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4d556a;
    &:hover {
      background: #eeeeee;
      cursor: pointer;
    }
  }
}

.list-map-view-wrapper {
  margin-left: -30px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}
::ng-deep .dashboard .mat-select-arrow {
  border-width: 0px;
  border-style: solid;
  border-color: black;
  border-left: 12px solid transparent !important;
  border-right: none !important;
  border-top: 7px solid transparent !important;
  border-image-source: url("../../../../assets/images/arrow.png") !important;
}

table {
  width: 100%;
  border-radius: 9px 9px 0px 0px;
  overflow: hidden;
}

::ng-deep .mat-select-value {
  color: #9d9ea8;
  font-size: 12px;
  font-family: LATO-Regular;
}
.list-tab-body {
  margin-left: 20px !important;
  margin-bottom: 20px;
  margin-top: 20px;
}
.select-input {
  font-size: 12px;
  font-family: LATO-Regular;
}
::ng-deep .mat-form-field-label-wrapper {
  margin-left: 6px;
}
.single-select-view {
  padding-top: 5px;
  padding-left: 8px;
  border: none;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #f6f6f6;
  outline: none;
  color: #9d9ea8 !important;
  height: 56px;
  width: 122px;
  height: 36px;
  font-family: LATO-Regular;
  font-size: 12px;
  padding-right: 8px;
}
::ng-deep .mat-form-field-infix {
  border-top: 0 !important;
}
.mat-raised-button {
  background-color: #f6f6f6;
  margin-left: 10px;
  width: 87px;
  height: 36px;
  color: #658c3d;
  font-family: LATO-Regular;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  border-radius: 3px;
  box-shadow: none;
}
.button-txt {
  margin-left: 10px;
  width: 161px;
  height: 36px;
  background: #86c255;
  border: 1px solid #86c255;
  box-sizing: border-box;
  border-radius: 3px;
  color: white;
}
.remove-border-bottom ::ng-deep .mat-tab-header {
  border-bottom: none;
  margin-top: 20px;
  margin-left: 22px;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: #e21549;
}
::ng-deep .mat-tab-label {
  width: 116px;
  height: 36px;
  background: #f6f6f6;
  border-radius: 3px;
  opacity: 9.6 !important;
}
::ng-deep .mat-tab-label-active {
  background: #658c3d;
  opacity: 9.6 !important;
  border-radius: 3px;
  background-color: none !important;
}

.pg-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

td,
th,
tr,
h2,
h1 {
  text-align: center;
}
button {
  border: none;
  background: none;
  padding: none;
}
.mat-header-cell {
  background: #f6f6f6;
  height: 63px;
}
.mat-header-cell {
  font-family: LATO-Bold;
  font-size: 14px;
  line-height: 17px;
  color: #4d556a;
  border-right: 1px solid #e5e5e5;
  justify-content: center;
  text-align: center;
}
::ng-deep .custom-paginator-page {
  border: none !important;
  background: none !important;
}
::ng-deep .custom-paginator-page-disabled {
  background: #86c255 !important;
  border-radius: 25px;
  color: #ffffff;
  height: 20px;
  width: 20px;
}
::ng-deep .mat-paginator-range-label {
  display: none !important;
}
.mat-cell {
  font-family: LATO-Regular;
  font-size: 12px;
  line-height: 14px;

  color: #4d556a;
}
.lowbtn {
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 23px;
  padding-right: 23px;
  background: #e1eec5;
  border-radius: 100px;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  // background-color: #658C3D !important;
  display: none !important;
}
::ng-deep .mat-form-field-label {
  width: 48px;
  height: 14px;
  font-family: LATO-Regular;
  font-size: 12px;
  line-height: 14px;
  color: #9d9ea8;
}
::ng-deep .mat-tab-label-active .list-tab {
  padding-left: 5px;
  width: 58px;
  height: 17px;
  font-family: LATO-Bold;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.is-page-header {
  color: #4d556a !important;
  font-size: 25px;
  line-height: 27px;
  font-weight: bold;
  font-style: normal;
  font-family: Lato;
  margin-top: 10px;
  margin-left: 20px;
  position: absolute;
}
.list-tab {
  padding-top: 0px;
}
.example-container {
  border-radius: 9px 9px 0px 0px;
  border: 1px solid #e5e5e5;
  width: 100%;
}
.highlight {
  background: #f6f6f6;
}
.highlighting {
  top: -85% !important;
}
::ng-deep .mat-tab-label-active .list-img-icon {
  background: url("../../../../assets/images/list 1.png") !important;
  // background: url("Images/logo.png");
  height: 12px;
  width: 12px;
  display: block;
  margin-right: 0px !important;
}
.list-img-icon {
  background: url("../../../../assets/images/listview.png");
  height: 12px;
  width: 12px;
  margin-right: 4px;
  display: block;
}
.imgicon1 {
  background: url("../../../../assets/images/mapicon.png");
  // background: url("Images/logo.png");
  height: 16px;
  width: 16px;
  margin-right: 4px;
  display: block;
}
::ng-deep .mat-tab-label-active .imgicon1 {
  background: url("../../../../assets/images/mapicon2.png") !important;
  height: 16px;
  width: 16px;
  display: block;
  margin-right: 0px !important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  margin-top: 15px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #4d556a;
}
::ng-deep .selectInputClass {
  min-width: 122px !important;
  margin-top: 24px;
  margin-left: 8px;
  background: #ffffff;
  position: fixed;
}
::ng-deep .mat-option {
  border: 1px solid #e5e5e5;
}
::ng-deep .mat-active {
  color: #86c255 !important;
}
::ng-deep .mat-tab-header {
  width: 50% !important;
}
.date-range-wrapper{
  width: auto;
  .is-form-date-range-picker {
    height: 36px !important;
    width: 200px !important;
    .is-datepicker-label {
      font-family: Lato;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: #9d9ea8;
    }
  }
}