<div class="save-filter-wrapper">
  <div class="save-filter-header">
    <div class="header-title">Save Filter</div>
    <div class="close_icon">
      <img
        src="../../../assets/images/close_icon.svg"
        alt="Close Icon"
        draggable="false"
        (click)="CloseDialog()"
      />
    </div>
  </div>
  <div class="save-filter-body">
    <form>
      <input
        type="text"
        name="text-name"
        id="text-name"
        class="text-name form-control"
        placeholder="Name"
        autocomplete="off"
      />
      <div class="viewers-wrapper">
        <div class="title">Viewers</div>
        <div class="viewers-inside-form">
          <mat-form-field class="single-select" floatLabel="never">
            <mat-label>{{ selectplaceholder }}</mat-label>
            <mat-select
              placeholder="Private"
              class="select-input"
              (selectionChange)="selectedValue($event.value)"
              panelClass="selectInputClass"
            >
              <mat-option value="Private">Private</mat-option>
              <mat-option value="Public">Public</mat-option>
            </mat-select>
          </mat-form-field>
          <span class="mini-title">Only you</span>
          <button class="btn btn-add">Add</button>
        </div>
        <div class="viewers-value">
          <img
            src="../../../assets/images/lock.svg"
            *ngIf="show"
            draggable="false"
          />
          <img
            src="../../../assets/images/lock.svg"
            *ngIf="!show"
            draggable="false"
          />
          <span class="viewers-text">{{ access }}</span>
        </div>
        <div class="button-save-wrapper">
          <button class="btn btn-save">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
