.save-filter-wrapper {
  width: 630px;
  height: 430px;
  .save-filter-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
    background: #f6f6f6;
    .header-title {
      width: 50%;
      font-family: LATO-Bold;
      font-size: 20px;
      line-height: 22px;
      color: #4d556a;
    }
    .close_icon {
      width: 50%;
      text-align: right;
      img {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .save-filter-body {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    .text-name {
      height: 50px;
      background: #ffffff;
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03);
      border-radius: 5px;
      text-indent: 30px;
      background-image: url(../../../assets/images/name_icon.svg);
      background-repeat: no-repeat;
      background-position: 15px 15px;
    }
    .viewers-wrapper {
      margin-top: 30px;
      .title {
        font-family: LATO-Regular;
        font-size: 16px;
        line-height: 22px;
        color: #4d556a;
      }
      .viewers-inside-form {
        height: 62px;
        background: #ffffff;
        border: 1px solid #e5e5e5;
        box-sizing: border-box;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03);
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        .mini-title {
          font-family: LATO-Regular;
          font-size: 16px;
          line-height: 22px;
          color: #4d556a;
          margin-left: 15px;
        }
        .btn-add {
          width: 67px;
          height: 40px;
          background: #f4f5f7;
          border-radius: 4px;
          font-family: LATO-Bold;
          font-size: 16px;
          line-height: 22px;
          color: #4d556a;
          margin-left: 43%;
        }
        .single-select {
          width: 100%;
          border: none;
          box-sizing: border-box;
          border-radius: 4px;
          background: #f4f5f7;
          outline: none;
          font-weight: 500;
          color: #9ea5ae !important;
          height: 40px;
          width: 164px;
          padding-top: 5px;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      .viewers-value {
        margin-top: 15px;
        img {
          padding-bottom: 8px;
          margin-right: 5px;
        }
        .viewers-text {
          width: 50px;
          height: 22px;
          font-family: LATO-Regular;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          padding-left: 3px;
          color: #4d556a;
        }
      }
      .button-save-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        .btn-save {
          width: 173px;
          height: 50px;
          background: #4d556a;
          border-radius: 3px;
          font-family: LATO-Bold;
          font-size: 16px;
          line-height: 22px;
          text-align: center;
          color: #ffffff;
          &:hover {
            cursor: pointer;
            background: darken(#4d556a, 10%);
          }
        }
      }
    }
  }
}

::ng-deep .mat-dialog-container {
  display: block;
  padding: 0px;
  font-family: LATO-Regular;
  font-size: 15px;
}
