<div class="event-wrapper">
  <div class="container-fluid">
    <!-- Header section -->
    <div class="row event-header">
      <div class="col-md-6 page-header">Events</div>
      <div class="col-md-6 user-profile">
        <img src="../../../../assets/images/user_img.png" />
        <span class="user-profile-name my-auto mx-2">Amanda Isti</span>
        <img src="../../../../assets/images/user_down_arrow.svg" />
      </div>
    </div>
    <!-- filter section  -->
    <div class="row event-filter-row">
      <span class="filter-title">Filters</span>
      <mat-form-field class="single-select-view" floatLabel="never">
        <mat-label>View all filters</mat-label>
        <mat-select class="select-input" panelClass="selectInputClass" (selectionChange)="selectedView($event.value)"
          disableOptionCentering>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="btn-save-modal" (click)="openModal()">
        Save as
      </button>
    </div>

    <!-- filter options section-->
    <div class="row event-filter-options">
      <div class="mat-input-tag">
        <mat-form-field class="single-select" floatLabel="never">
          <mat-label>Severity</mat-label>
          <mat-select class="select-input" panelClass="selectInputClass" #severity
            (selectionChange)="selectedSeverity($event.value)" disableOptionCentering>
            <mat-option>None</mat-option>
            <mat-option value="LOW">LOW</mat-option>
            <mat-option value="MEDIUM">MEDIUM</mat-option>
            <mat-option value="HIGH">HIGH</mat-option>
            <mat-option value="VERY HIGH">VERY HIGH</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <input #userid id="userid" type="text" placeholder="User ID" class="form-control" />
      </div>

      <div class="form-group">
        <input #deviceid id="deviceid" type="text" placeholder="Device ID" class="form-control" />
      </div>

      <div class="date-range-wrapper">
        <mat-form-field class="is-form-date-range-picker" floatLabel="never">
          <mat-label class="is-datepicker-label">Start Date to End Date</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate #dateRangeStart placeholder="Start date"
              (blur)="dateRangeChange(dateRangeStart, dateRangeEnd)"
              (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
            <input matEndDate #dateRangeEnd placeholder="End date"
              (blur)="dateRangeChange(dateRangeStart, dateRangeEnd)"
              (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>

      <div class="form-group">
        <input #sessionid id="sessionid" type="text" placeholder="Session ID" class="form-control" />
      </div>

      <div class="mat-input-tag">
        <mat-form-field class="single-select" floatLabel="never">
          <mat-label>Checkpoint</mat-label>
          <mat-select class="select-input" panelClass="selectInputClass" #checkpoint
            (selectionChange)="selectedCheckpoint($event.value)" disableOptionCentering>
            <mat-option>None</mat-option>
            <mat-option value="REGISTER">REGISTER</mat-option>
            <mat-option value="LOGIN">LOGIN</mat-option>
            <mat-option value="ADD PAYMENT METHOD">ADD PAYMENT METHOD</mat-option>
            <mat-option value="TRANSACTION">TRANSACTION</mat-option>
            <mat-option value="UPDATE USER INFO">UPDATE USER INFO</mat-option>
            <mat-option value="PASSWORD CHANGE">PASSWORD CHANGE</mat-option>
            <mat-option value="VIEW CARD DETAILS">VIEW CARD DETAILS</mat-option>
            <mat-option value="EXTERNAL CARD TRANSACTION">EXTERNAL CARD TRANSACTION</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <input #requestid id="requestid" type="text" placeholder="Request ID" class="form-control" />
      </div>

      <div class="mat-input-tag">
        <mat-form-field class="single-select" floatLabel="never">
          <mat-label>Status</mat-label>
          <mat-select class="select-input" panelClass="selectInputClass" #status
            (selectionChange)="selectedStatus($event.value)" disableOptionCentering>
            <mat-option>None</mat-option>
            <mat-option value="APPROVED">APPROVED</mat-option>
            <mat-option value="DENIED">DENIED</mat-option>
            <mat-option value="CANCELLED">CANCELLED</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="right-side-button-panel">
        <button class="btn btn-filter-apply" type="submit" (click)="applyEventTableFiltersEvent()">
          <img src="../../../../assets/images/right.png" />Apply
        </button>

        <span class="filter-delete-button"
          (click)="resetEventTableFiltersEvent(dateRangeStart, dateRangeEnd, requestid, userid, deviceid, sessionid, severity, checkpoint, status)"><img
            src="../../../../assets/images/delete_icon_button.svg" /></span>
      </div>
    </div>

    <!-- export button row -->
    <div class="export-btn-section">
      <button class="export-btn" (click)="exportEventTableData()" *ngIf="showexport">
        <img src="../../../../assets/images/export 1.png" /><span class="ml-2">Export</span>
      </button>
    </div>
    <!-- list view and map view tab section -->
    <div class="row list-map-view-wrapper">
      <mat-tab-group class="remove-border-bottom" (selectedTabChange)="onTabChanged($event)">
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="list-img-icon"></span><span class="list-tab">List View </span>
          </ng-template>
          <div class="list-tab-body">
            <div class="example-container">
              <table mat-table [dataSource]="eventTableData">
                <ng-container matColumnDef="Severity">
                  <th mat-header-cell *matHeaderCellDef>Severity</th>
                  <td mat-cell *matCellDef="let element">
                    <span class="lowbtn">{{ element.severity }}</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="Score">
                  <th mat-header-cell *matHeaderCellDef>Score</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.score }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Date">
                  <th mat-header-cell *matHeaderCellDef>Date</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.timestamp.substring(8,10) }}/{{ element.timestamp.substring(5,7) }}/{{
                    element.timestamp.substring(0,4) }}<br>{{ element.timestamp.substring(11,16) }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Session">
                  <th mat-header-cell *matHeaderCellDef>Session</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.sessionId }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="UserID">
                  <th mat-header-cell *matHeaderCellDef>User ID</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.userId }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="DeviceID">
                  <th mat-header-cell *matHeaderCellDef>Device ID</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.deviceId }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Checkpoint">
                  <th mat-header-cell *matHeaderCellDef>Checkpoint</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.checkpoint }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Amount">
                  <th mat-header-cell *matHeaderCellDef>Amount</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.amount }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Currency">
                  <th mat-header-cell *matHeaderCellDef>Currency</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.currency }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Destination">
                  <th mat-header-cell *matHeaderCellDef>Destination</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.destination }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Status">
                  <th mat-header-cell *matHeaderCellDef>Status</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.status }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Resolution">
                  <th mat-header-cell *matHeaderCellDef>Resolution</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.resolution }}
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="[
                      'Severity',
                      'Score',
                      'Date',
                      'Session',
                      'UserID',
                      'DeviceID',
                      'Checkpoint',
                      'Amount',
                      'Currency',
                      'Destination',
                      'Status',
                      'Resolution'
                    ]"></tr>
                <tr mat-row (click)="display(row)" [ngClass]="{ highlight: selectedRowIndex == row }" *matRowDef="
                      let row;
                      columns: [
                        'Severity',
                        'Score',
                        'Date',
                        'Session',
                        'UserID',
                        'DeviceID',
                        'Checkpoint',
                        'Amount',
                        'Currency',
                        'Destination',
                        'Status',
                        'Resolution'
                      ]
                    "></tr>
              </table>
            </div>
            <!-- No table data section -->
            <div class="no-table-data" *ngIf="noEventTableDataFlag">
              <div class="content">
                No available data to display
              </div>
            </div>
            <!-- EOF no table data section -->

            <div class="pg-container">
              <mat-paginator appPagination [length]="tableDataSize" [pageSize]="10" [hidePageSize]="true"
                (page)="onEventTablePageEvent($event)">
              </mat-paginator>
            </div>
          </div>
          <div *ngIf="dispalyRow">
            <app-checkpopup class="d-flex single-select-input" (newEvent)="hideRow($event)" [row]="rowData">
            </app-checkpopup>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="imgicon1"></span><span class="list-tab">Map View </span>
          </ng-template>
          <div style="margin-top: 20px; margin-left: 20px">
            <app-map></app-map>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>