.analytics-page {
    width: 100%;
    height: auto;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
}

.is-page-header {
    color: #4D556A !important;
    font-size: 25px;
    line-height: 27px;
    font-weight: bold;
    font-style: normal;
    font-family: Lato;
}

.is-daily-record-chart-section {
    height: 350px;
    padding: 1rem;
    border: solid 1px #E5E5E5;
}

.is-chart-header {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #4D556A;
}
