.profile-wrapper {
  .profile-header {
    min-height: 86px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    flex-direction: row;
    align-items: center;
    .page-header {
      font-family: LATO-Bold;
      font-size: 25px;
      line-height: 22px;
      color: #4d556a;
      text-align: left;
    }
    .user-profile {
      text-align: right;
    }
  }
  .profile-filter-row {
    width: fit-content;
    margin-top: 20px;
    .filter-title {
      font-family: LATO-Bold;
      font-size: 18px;
      line-height: 22px;
      color: #4d556a;
      width: 80px;
    }
    .btn-save-modal {
      background-color: #f6f6f6;
      margin-left: 10px;
      width: 87px;
      height: 36px;
      color: #658c3d;
      font-family: LATO-Regular;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      border-radius: 3px;
      box-shadow: none;
    }
  }
  .profile-filter-options {
    margin-top: 20px;
    width: fit-content;
    .form-group {
      width: 122px;
      margin-right: 10px;
      .form-control {
        height: 36px;
        background: transparent;
        border: none;
        font-family: LATO-Regular;
        font-size: 12px;
        line-height: 14px;
        width: 122px;
        border: 1px solid #9d9ea8;
        box-sizing: border-box;
        border-radius: 3px;
        color: #9d9ea8;
      }
    }
    .mat-input-tag {
      min-width: 130px;
      width: 130px;
    }
    .single-select {
      // padding: 0px 10px;
      padding-top: 5px;
      padding-left: 8px;
      border: 1px solid #9d9ea8;
      box-sizing: border-box;
      border-radius: 3px;
      // background-color: white;
      outline: none;
      color: #9d9ea8 !important;
      height: 56px;
      width: 122px;
      height: 36px;
      font-family: LATO-Regular;
      font-size: 12px;
      line-height: 14px;
      padding-right: 8px;
      padding-right: 8px;
    }
    .date-range-wrapper {
      width: 210px;
      .is-form-date-range-picker {
        height: 36px !important;
        width: 200px !important;
        border: 1px solid #9d9ea8;
        box-sizing: border-box;
        border-radius: 3px;
        color: #9d9ea8;
        padding: 3px;
        .is-datepicker-label {
          font-family: LATO-Regular;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          text-align: center;
          color: #9d9ea8;
          padding-left: 5px;
        }
      }
    }
    .select-date-range {
      width: 160px !important;
      margin-left: 10px;
    }
    .right-side-button-panel {
      position: absolute;
      right: 0;
      width: auto;
      .btn-filter-apply {
        margin-right: 10px;
        margin-left: 10px;
        width: 161px;
        height: 36px;
        background: #86c255;
        border: 1px solid #86c255;
        box-sizing: border-box;
        border-radius: 3px;
        color: white;
        &:hover {
          background: darken(#86c255, 10%);
        }
      }
      .btn-add-new {
        margin-left: 10px;
        width: 119px;
        height: 36px;
        background: #86c255;
        border: 1px solid #86c255;
        box-sizing: border-box;
        border-radius: 3px;
        font-family: LATO-Bold;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #ffffff;
        &:hover {
          background: darken($color: #86c255, $amount: 10%);
        }
      }
    }
  }
  .profile-table-body {
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 9px 9px 0px 0px;
    border: 1px solid #e5e5e5;
    width: 100%;
    table {
      width: 100%;
      border-radius: 9px 9px 0px 0px;
      overflow: hidden;
    }
  }
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-label-wrapper {
  margin-left: 8px;
}

.single-select-view {
  padding-top: 5px;
  padding-left: 8px;
  border: none;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #f6f6f6;
  outline: none;
  color: #9d9ea8 !important;
  height: 56px;
  width: 122px;
  height: 36px;
  font-family: LATO-Regular;
  font-size: 12px;
}
::ng-deep .mat-form-field-infix {
  border-top: 0 !important;
}

.pg-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

td,
th,
tr,
h2,
h1 {
  text-align: center;
}
button {
  border: none;
  background: none;
  padding: none;
}
.mat-header-cell {
  background: #f6f6f6;
  height: 63px;
}
.mat-header-cell {
  font-family: LATO-Bold;
  font-size: 14px;
  line-height: 17px;
  color: #4d556a;
  border-right: 1px solid #e5e5e5;
  justify-content: center;
  text-align: center;
}
::ng-deep .custom-paginator-page {
  border: none !important;
  background: none !important;
}
::ng-deep .custom-paginator-page-disabled {
  background: #86c255 !important;
  border-radius: 25px;
  color: #ffffff;
  height: 20px;
  width: 20px;
}
::ng-deep .mat-paginator-range-label {
  display: none !important;
}
.mat-cell {
  font-family: LATO-Regular;
  font-size: 12px;
  line-height: 14px;
  color: #4d556a;
}
tr.mat-row {
  &:hover {
    cursor: pointer;
  }
}

::ng-deep .mat-form-field-label {
  width: 48px;
  height: 14px;
  font-family: LATO-Regular;
  font-size: 12px;
  line-height: 14px;
  color: #9d9ea8;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  margin-top: 15px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #4d556a;
}
::ng-deep .selectInputClass {
  min-width: 122px !important;
  margin-top: 24px;
  margin-left: 8px;
  background: #ffffff;
  position: fixed;
}
::ng-deep .mat-option {
  border: 1px solid #e5e5e5;
}

.no-table-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 400px;
  .content {
    font-family: LATO-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #4d556a;
  }
}
