<div class="profile-wrapper">
  <div class="container-fluid">
    <div class="row profile-header">
      <div class="col-md-6 page-header">Profiles</div>
      <div class="col-md-6 user-profile">
        <img src="../../../../assets/images/user_img.png" draggable="false" />
        <span class="is-user-name-text my-auto mx-2">Amanda Isti</span>
        <img src="../../../../assets/images/user_down_arrow.svg" draggable="false" />
      </div>
    </div>
    <!-- filter section -->
    <div class="row profile-filter-row">
      <span class="filter-title">Filters</span>
      <mat-form-field class="single-select-view" floatLabel="never">
        <mat-label>View all filters</mat-label>
        <mat-select class="select-input" panelClass="selectInputClass" disableOptionCentering>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="btn-save-modal" (click)="openModal()">Save as</button>
    </div>
    <!-- EOF filter section -->

    <!-- filter options section -->
    <div class="row profile-filter-options">
      <div class="form-group">
        <input type="text" name="text-name" id="text-name" placeholder="Name" autocomplete="off" class="form-control" />
      </div>

      <div class="form-group">
        <input type="text" name="text-email" id="text-email" placeholder="Email" autocomplete="off"
          class="form-control" />
      </div>

      <div class="mat-input-tag">
        <mat-form-field class="single-select" floatLabel="never">
          <mat-label>Checkpoint (0)</mat-label>
          <mat-select class="select-input" panelClass="selectInputClass" disableOptionCentering>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="date-range-wrapper">
        <mat-form-field class="is-form-date-range-picker" floatLabel="never">
          <mat-label class="is-datepicker-label">Start Date to End Date</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate #dateRangeStart placeholder="Start date" />
            <input matEndDate #dateRangeEnd placeholder="End date" />
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>

      <div class="right-side-button-panel">
        <button class="btn btn-add-new" (click)="openaddModal()">
          + Add New
        </button>
      </div>
    </div>
    <!-- EOF filter options section -->

    <!-- table content section -->
    <div class="row profile-table-body">
      <table mat-table [dataSource]="profileTableData">
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>
        <ng-container matColumnDef="Role">
          <th mat-header-cell *matHeaderCellDef>Role</th>
          <td mat-cell *matCellDef="let element">{{ element.role }}</td>
        </ng-container>
        <ng-container matColumnDef="Created">
          <th mat-header-cell *matHeaderCellDef>Created</th>
          <td mat-cell *matCellDef="let element">{{ element.created }}</td>
        </ng-container>
        <ng-container matColumnDef="Updated">
          <th mat-header-cell *matHeaderCellDef>Updated</th>
          <td mat-cell *matCellDef="let element">{{ element.updated }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['Name', 'Email', 'Role', 'Created', 'Updated']"></tr>
        <tr mat-row (click)="editModal(row)" *matRowDef="
            let row;
            columns: ['Name', 'Email', 'Role', 'Created', 'Updated']
          "></tr>
      </table>
    </div>
    <!-- EOF table content section -->

    <!-- No table data section -->
    <div class="no-table-data" *ngIf="false">
      <div class="content">No available data to display</div>
    </div>

    <!-- Pagination section -->
    <div class="pg-container">
      <mat-paginator appPagination [length]="profileTableDataSize" [pageSize]="profileTablePerPage"
        [hidePageSize]="true" (page)="onProfileTablePageEvent($event)">
      </mat-paginator>
    </div>
  </div>
</div>