<div>
  <div class="eventtxt">Events</div>
  <div class="row" style="margin-top: 18px">
    <div>
      <span class="filtertxt">Filters</span>
      <mat-form-field class="single-select-view">
        <mat-select
          placeholder="View All Filters"
          class="select-input"
          panelClass="selectInputClass"
        >
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button class="cyan-text" (click)="openModal()">
        save as
      </button>
      <div class="rowsty" style="margin-top: 18px">
        <div class="inptuetag" style="margin-left: 20px">
          <mat-form-field class="single-select">
            <mat-label>View All Filters</mat-label>
            <mat-select class="select-input" panelClass="selectInputClass">
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
              <mat-option value="two">Second option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group inputform">
          <input
            id="emailicon"
            style="height: 34px; background: transparent"
            type="text"
            placeholder="User Id"
            class="form-control formInput"
          />
        </div>
        <div class="form-group inputform">
          <input
            id="emailicon"
            style="height: 34px; background: transparent"
            type="text"
            placeholder="Device Id"
            class="form-control formInput"
          />
        </div>
        <div class="single-select" style="margin-left: 10px; width: 162px">
          <mat-form-field class="select-input-taga">
            <mat-label>Start Date to Date End</mat-label>
            <input matInput [matDatepicker]="picker" />
            <mat-datepicker-toggle matPrefix [for]="picker">
              <mat-icon matDatepickerToggleIcon>
                <img src="../../../../assets/images/calendar.png" />
              </mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group inputform">
          <input
            id="emailicon"
            style="height: 34px; background: transparent"
            type="text"
            placeholder="Session Id"
            class="form-control formInput"
          />
        </div>
        <div class="inptuetag">
          <mat-form-field class="single-select">
            <mat-select
              placeholder="View All Filters"
              class="select-input"
              panelClass="selectInputClass"
            >
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group inputform">
          <input
            id="emailicon"
            style="height: 34px; background: transparent"
            type="text"
            placeholder="Request Id"
            class="form-control formInput"
          />
        </div>
        <div class="inptuetag">
          <mat-form-field class="single-select">
            <mat-select
              placeholder="View All Filters"
              class="select-input"
              panelClass="selectInputClass"
            >
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button class="buttontxt" style="margin-left: 10px">
          <img src="../../../../assets/images/right.png" />Apply
        </button>
        <span style="margin-left: 10px"
          ><img src="../../../../assets/images/Group 32567.png"
        /></span>
      </div>
      <mat-tab-group
        class="remove-border-bottom"
        style="margin-top: 20px; margin-left: 22px"
        (selectedTabChange)="onTabChanged($event)"
      >
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="imgicon"></span><span class="listtab">List View </span>
          </ng-template>
          <div
            style="margin-right: 20px; margin-bottom: 40px; margin-top: 20px"
          >
            <div class="tableFixHead">
              <table>
                <thead>
                  <tr>
                    <th *ngFor="let header of mockHeaders">{{ header }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of tableData1" (click)="display(data)">
                    <td>
                      <span
                        style="
                          background: #e1eec5;
                          border-radius: 100px;
                          text-align: center;
                          padding: 5px;
                          font-family: LATO-Bold;
                          font-size: 12px;
                          color: #658c3d;
                        "
                      >
                        {{ data.Severity }}
                    </span>
                    </td>
                    <td>{{ data.Score }}</td>
                    <td>{{ data.Date }}</td>
                    <td>{{ data.Session }}</td>
                    <td>{{ data.UserID }}</td>
                    <td>{{ data.DeviceID }}</td>
                    <td>{{ data.Checkpoint }}</td>
                    <td>{{ data.Amount }}</td>
                    <td>{{ data.Currency }}</td>
                    <td>{{ data.Destination }}</td>
                    <td>{{ data.Status }}</td>
                    <td>{{ data.Resolution }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="pg-container">
              <mat-paginator
                appPagination
                [length]="6"
                [pageSize]="6"
                [hidePageSize]="true"
                (page)="onPageEvent($event)"
              >
              </mat-paginator>
            </div>
          </div>
          <div *ngIf="dispalyRow">
            <app-checkpopup
              class="d-flex single-select-input"
              (newEvent)="hideRow($event)"
              [row]="rowData"
            >
            </app-checkpopup>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="imgicon1"></span><span class="listtab">Map View </span>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
      <button class="exporttxt" (click)="download()" *ngIf="showexport">
        <img src="../../../../assets/images/export 1.png" /><span
          style="padding-left: 5px"
          >Export</span
        >
      </button>
      <!-- <mat-paginator style-paginator showFirstLastButtons [length]="7130" [pageSize]="10"
                                      [pageSizeOptions]="[5, 10, 25, 100]">
                                    </mat-paginator> -->
    </div>
  </div>
</div>
