<div class="screen-event-wrapper">
  <div class="container-fluid">

    <!-- Header section -->
    <div class="row screen-event-header">
      <div class="col-md-6 screen-event-page-header">Screen Event</div>
      <div class="col-md-6 screen-event-user-profile">
        <!-- <img src="../../../../assets/images/user_img.svg" />
        <span class="screen-event-user-profile-name my-auto mx-2">Amanda Isti</span>
        <img src="../../../../assets/images/user_down_arrow.svg" /> -->
      </div>
    </div>

    <!-- filter section  -->
    <!-- <div class="row screen-event-filter-row">
      <span class="screen-event-filter-title">Filters</span>
      <mat-form-field class="screen-event-filter-select" floatLabel="never">
        <mat-label>View all filters</mat-label>
        <mat-select class="screen-event-filter-option" panelClass="selectInputClass" disableOptionCentering>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="screen-event-filter-save-modal">
        Save as
      </button>
    </div> -->

    <!-- filter options section-->
    <div class="row screen-event-filter-options">
      <form #screenEventFilterForm="ngForm" (ngSubmit)="onscreenEventFilterSubmit(screenEventFilterForm)"
        class="form-inline">
        <div class="form-group mr-1">
          <select class="is-form-select-option-multiselect" id="screenType" name="screenType" ngModel>
            <option value="" hidden selected disabled>Screen Type</option>
            <option *ngFor="let screenType of screenTypeArray" [value]="screenType">{{screenType}}</option>
          </select>
        </div>
        <div class="form-group mx-1">
          <select class="is-form-select-option-multiselect" id="action" name="action" ngModel>
            <option value="" hidden selected disabled>Action</option>
            <option *ngFor="let action of actionArray" [value]="action">{{action}}</option>
          </select>
        </div>
        <div class="form-group mx-1">
          <div class="screen-event-date-range-wrapper">
            <mat-form-field class="screen-event-date-range-picker" floatLabel="never">
              <mat-label class="screen-event-datepicker-label">Start Date to End Date</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate #dateRangeStartSE placeholder="Start date"
                  (blur)="dateRangeChangeSE(dateRangeStartSE, dateRangeEndSE)"
                  (dateChange)="dateRangeChangeSE(dateRangeStartSE, dateRangeEndSE)">
                <input matEndDate #dateRangeEndSE placeholder="End date"
                  (blur)="dateRangeChangeSE(dateRangeStartSE, dateRangeEndSE)"
                  (dateChange)="dateRangeChangeSE(dateRangeStartSE, dateRangeEndSE)">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group mx-1">
          <input type="text" class="is-from-input-text-field" id="screenid" name="screenid" placeholder="Screenid"
            ngModel />
        </div>
        <div class="form-group mx-1">
          <input type="text" class="is-from-input-text-field" id="sessionid" name="sessionid" placeholder="Sessionid"
            ngModel />
        </div>
        <div class="form-group mx-1">
          <input type="text" class="is-from-input-text-field" id="deviceid" name="deviceid" placeholder="Deviceid"
            ngModel />
        </div>
        <div class="form-group ml-1">
          <input type="text" class="is-from-input-text-field" id="userid" name="userid" placeholder="Userid" ngModel />
        </div>
        <div class="is-form-button-section">
          <button type="submit" class="btn is-form-submit-button"><img class="mr-1"
              src="../../../../assets/images/currect_icon.svg">Apply</button>
          <img class="ml-2 is-delete-icon" (click)="onScreenEventFilterReset(screenEventFilterForm, dateRangeStartSE, dateRangeEndSE)"
            src="../../../../assets/images/delete_icon_button.svg">
        </div>
      </form>
    </div>
    <div class="row screen-event-Table-Section">
      <div class="col-12 screen-event-table-container">
        <table mat-table [dataSource]="screenEventTableData">
          <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">
              {{ element.timestamp.substring(8,10) }}/{{ element.timestamp.substring(5,7) }}/{{
              element.timestamp.substring(0,4) }}<br>{{ element.timestamp.substring(11,16) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="screenListenerType">
            <th mat-header-cell *matHeaderCellDef>Screen Listener Type</th>
            <td mat-cell *matCellDef="let element">
              {{ element.screenListenerType }}
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              {{ element.action }}
            </td>
          </ng-container>
          <ng-container matColumnDef="screenId">
            <th mat-header-cell *matHeaderCellDef>Screenid</th>
            <td mat-cell *matCellDef="let element">
              {{ element.screenId }}
            </td>
          </ng-container>
          <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef>Userid</th>
            <td mat-cell *matCellDef="let element">
              {{ element.userId }}
            </td>
          </ng-container>
          <ng-container matColumnDef="sessionId">
            <th mat-header-cell *matHeaderCellDef>Sessionid</th>
            <td mat-cell *matCellDef="let element">
              {{ element.sessionId }}
            </td>
          </ng-container>
          <ng-container matColumnDef="deviceId">
            <th mat-header-cell *matHeaderCellDef>Deviceid</th>
            <td mat-cell *matCellDef="let element">
              {{ element.deviceId }}
            </td>
          </ng-container>
          <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef>Version</th>
            <td mat-cell *matCellDef="let element">
              {{ element.version }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="[
                      'timestamp',
                      'screenListenerType',
                      'action',
                      'screenId',
                      'userId',
                      'sessionId',
                      'deviceId',
                      'version'
                    ]">
          </tr>
          <tr mat-row (click)="display(row)" [ngClass]="{ highlight: selectedRowIndex == row }" *matRowDef="
                      let row;
                      columns: [
                      'timestamp',
                      'screenListenerType',
                      'action',
                      'screenId',
                      'userId',
                      'sessionId',
                      'deviceId',
                      'version'
                      ]
                    "></tr>
        </table>
      </div>
    </div>
    <!-- No table data section -->
    <div class="no-screen-event-table-data" *ngIf="noScreenEventTableDataFlag">
      <div class="no-screen-event-table-data-text">
        No available data to display
      </div>
    </div>
    <!-- EOF no table data section -->
    <div class="screen-event-pagination-section">
      <mat-paginator appPagination [length]="tableDataSize" [pageSize]=10 [hidePageSize]="true"
        (page)="onPageEvent($event)">
      </mat-paginator>
    </div>
  </div>
</div>