.screen-event-wrapper {
  .screen-event-header {
    min-height: 86px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    flex-direction: row;
    align-items: center;
    .screen-event-page-header {
      font-family: Lato;
      font-weight: bold;
      font-size: 25px;
      line-height: 22px;
      color: #4d556a;
      text-align: left;
    }
    .screen-event-user-profile {
      text-align: right;
      .screen-event-user-profile-name {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #272727;
      }
    }
  }
  .screen-event-filter-row {
    width: fit-content;
    margin-top: 20px;
    .screen-event-filter-title {
      font-family: Lato;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #4d556a;
      width: 80px;
    }
    .screen-event-filter-select {
      padding-top: 5px;
      padding-left: 8px;
      border: none;
      box-sizing: border-box;
      border-radius: 3px;
      background-color: #f6f6f6;
      outline: none;
      color: #9d9ea8 !important;
      height: 56px;
      width: 122px;
      height: 36px;
      font-family: LATO-Regular;
      font-size: 12px;
      padding-right: 8px;
      .screen-event-filter-option {
        font-size: 12px;
        font-family: LATO-Regular;
      }
    }
    .screen-event-filter-save-modal {
      background-color: #f6f6f6;
      margin-left: 10px;
      width: 87px;
      height: 36px;
      color: #658c3d;
      font-family: LATO-Regular;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      border-radius: 3px;
      box-shadow: none;
      border: none;
      padding: none;
    }
  }
  .screen-event-filter-options {
    margin-top: 20px;
    width: fit-content;
    .is-form-select-option-multiselect {
      height: 36px;
      width: 122px;
      outline: none;
      border: 1px solid #9d9ea8;
      box-sizing: border-box;
      border-radius: 3px;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #9d9ea8;
    }
    .screen-event-date-range-wrapper {
      .screen-event-date-range-picker {
        height: 36px !important;
        width: 200px !important;
        border: 1px solid #9d9ea8;
        box-sizing: border-box;
        border-radius: 3px;
        color: #9d9ea8;
        padding: 3px;
        .screen-event-datepicker-label {
          font-family: LATO-Regular;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          text-align: center;
          color: #9d9ea8;
          padding-left: 5px;
        }
      }
    }
    .is-from-input-text-field {
      height: 36px;
      width: 122px;
      outline: none;
      border: 1px solid #9d9ea8;
      box-sizing: border-box;
      border-radius: 3px;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #9d9ea8;
    }
    .is-form-button-section {
      position: absolute;
      right: 15px;
      .is-form-submit-button {
        height: 36px;
        width: 161px;
        background-color: #86c255;
        border-radius: 3px;
        border: 1px solid #86c255;
        box-sizing: border-box;
        color: white;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
      }
      .is-delete-icon  {
        border: none !important;
        outline: none !important;
        height: 36px;
        width: 40px;
        cursor: pointer;
        // .is-delete-icon {
        //   border: none;
        //   outline: none;
        //   height: 36px;
        //   width: 40px;
        // }
      }
    }
  }
  .screen-event-Table-Section {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    .screen-event-table-container {
      border-radius: 9px 9px 0px 0px;
      border: 1px solid #e5e5e5;
      padding: 0;
    }
  }
  .screen-event-pagination-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  height: 36px !important;
  border: solid 1px #9d9ea8 !important;
  padding: 0 !important;
  border-radius: 3px;
  background-color: white;
  outline: none;
}

::ng-deep .custom-paginator-page {
  border: none !important;
  background: none !important;
}
::ng-deep .custom-paginator-page-disabled {
  background: #86c255 !important;
  border-radius: 25px;
  color: #ffffff;
  height: 20px;
  width: 20px;
}
::ng-deep .mat-paginator-range-label {
  display: none !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}
::ng-deep .mat-select-arrow {
  border-width: 0px;
  border-style: solid;
  border-color: black;
  border-left: 12px solid transparent !important;
  border-right: none !important;
  border-top: 7px solid transparent !important;
  border-image-source: url("../../../assets/images/arrow.svg") !important;
}

::ng-deep .mat-form-field-infix {
  border-top: 0 !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

table {
  width: 100%;
  overflow: hidden;
  border-radius: 9px 9px 0px 0px;
}

.mat-header-cell {
  background: #f6f6f6;
  height: 63px;
  font-family: LATO-Bold;
  font-size: 14px;
  line-height: 17px;
  color: #4d556a;
  border-right: 1px solid #e5e5e5;
  justify-content: center;
  text-align: center;
}

.mat-cell {
  font-family: LATO-Regular;
  font-size: 12px;
  line-height: 14px;
  color: #4d556a;
  text-align: center;
}

td,
th,
tr,
h2,
h1 {
  text-align: center;
}

.no-screen-event-table-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 400px;
  .no-screen-event-table-data-text {
    font-family: LATO-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #4d556a;
  }
}
