.reports-page {
    width: 100%;
    height: auto;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
}

.is-page-header {
    color: #4D556A !important;
    font-size: 25px;
    line-height: 27px;
    font-weight: bold;
    font-style: normal;
    font-family: Lato;
}

.is-page-label {
    color: #4D556A !important;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    font-style: normal;
    font-family: Lato;
    margin-right: 1rem;
}

.is-save-button {
    height: 36px;
    background-color: #F6F6F6;
    color: #658C3D;
    font-size: 14px;
    line-height: 22px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    margin-left: 1rem;
}

.is-filter-select-option {
    height: 36px;
    border: none;
    outline: none;
    background-color: #F6F6F6;
    font-size: 14px;
    line-height: 22px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    color: #4D556A;
}

.is-datepicker {
    height: 36px !important;
    width: 230px !important;
    // border: solid 1px #9D9EA8;
    // border-radius: 3px;
}

.is-datepicker-label {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;    
    line-height: 22px;
    text-align: center;
    color: #9D9EA8;
}

.is-input-field {
    margin-left: 0.5rem;
    height: 36px;
    border: solid 1px #9D9EA8;
    border-radius: 3px;
    width: 120px;
}

.is-checkpoint-select-option {
    margin-left: 0.5rem;
    height: 36px;
    width: 120px;
    border: solid 1px #9D9EA8;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    line-height: 22px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    color: #4D556A;
}

.is-status-select-option {
    margin-left: 0.5rem;
    height: 36px;
    width: 120px;
    border: solid 1px #9D9EA8;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    line-height: 22px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    color: #4D556A;
}

.button-txt {
    margin-left: 4.5rem;
    width: 161px;
    height: 36px;
    background: #86c255;
    border: 1px solid #86c255;
    box-sizing: border-box;
    border-radius: 3px;
    color: white;
}

.is-warning-label {
    width: 100%;
    height: 56px;
    background-color: #F5F5F5;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.is-warning-label-text {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 56px;
    color: #4D556A;
}

.is-suspicious-user-card {
    margin-left: 1.5rem;
    width: 100%;
    height: 112px;
    border: 1px solid #E5E5E5;
    outline: none;
}

.is-active-user-card {
    margin-left: 1.5rem;
    width: 100%;
    height: 112px;
    border: 1px solid #E5E5E5;
    outline: none;
}

.is-bar-chart-header {
    margin-left: 1.5rem;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    align-items: center;
    letter-spacing: 0.496657px;
    color: #4D556A;
}

.is-donut-chart-text {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #4D556A;
}

.is-donut-chart-percentage {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 28px;
    color: #FF6464;
}

.is-donut-chart-label {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #4D556A;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    height: 36px !important;
    border: solid 1px #E5E5E5 !important;
    padding: 0 !important;
    border-radius: 3px;
    background-color: white;
}

