<mat-drawer-container class="example-matcontainer">
  <mat-drawer #drawer mode="side" disableClose="true" opened="true" class="matdrawerside">
    <div class="sidebarsty"> <img src="../../../../assets/images/Paygilant logo reversed.png " class="imgsty" />
    </div>
    <!-- <mat-divider _ngcontent-pub-c105="" role="separator" class="mat-divider mat-divider-horizontal"></mat-divider> -->
    <mat-nav-list class="nav-list-wrapper" style="margin-top: 20px; padding-left: 17px;">
      <mat-list-item class="mat-list-value">
        <span class="sidenav-icon">
          <img *ngIf="isExpanded" src="../../../../assets/images/Group 32376.png" />
        </span>
        <br />
        <span class="menu-link-label ml-4">Dashboard</span>
      </mat-list-item>
      <mat-list-item (click)="navigate('/dashboard')" [ngClass]="{ 'active-link': activeLink == 'Home' }"
        class="mat-list-value">
        <span class="sidenav-icon" *ngIf="activeLink == 'Home'" style="margin-left: -8px;">
          <img *ngIf="isExpanded" src="../../../../assets/images/calgroup.png" />
        </span>
        <span class="sidenav-icon" *ngIf="activeLink != 'Home'">
          <img *ngIf="isExpanded" src="../../../../assets/images/calgroupname.png" />
        </span>
        <br />
        <span class="menu-link-label ml-4" style="padding-left: 12px;">Events</span>
      </mat-list-item>
      <mat-list-item (click)="navigate('/screenevents')" [ngClass]="{ 'active-link': activeLink == 'screenevents' }"
        class="mat-list-value">
        <span class="sidenav-icon" *ngIf="activeLink == 'screenevents'" style="margin-left: -8px;">
          <img *ngIf="isExpanded" src="../../../../assets/images/screenevents.png" />
        </span>
        <span class="sidenav-icon" *ngIf="activeLink != 'screenevents'">
          <img *ngIf="isExpanded" src="../../../../assets/images/transaction 3.png" />
        </span>
        <br />
        <span class="menu-link-label ml-4">Screen Events</span>
      </mat-list-item>
      <mat-list-item (click)="navigate('/reports')"  style="display: table-caption;" class="mat-list-value">
        <span class="sidenav-icon" *ngIf="activeLink != 'reports'">
          <img *ngIf="isExpanded" src="../../../../assets/images/statistics 1.svg" />
        </span>
        <span class="sidenav-icon" *ngIf="activeLink == 'reports'" style="margin-left: -8px;">
                  <img *ngIf="isExpanded" src="../../../../assets/images/repo.png" />
                </span>
        <span class="menu-link-label ml-4" style="padding-left: 8px;">Reports</span>
      </mat-list-item>
      <mat-list-item (click)="navigate('/analytics')" style="display: table-caption;" class="mat-list-value">
        <span class=" sidenav-icon" *ngIf="activeLink != 'analytics'">
          <img *ngIf="isExpanded" src="../../../../assets/images/analytics 1.png" />
        </span>
        <span class=" sidenav-icon" *ngIf="activeLink == 'analytics'" style="margin-left: -8px;">
          <img *ngIf="isExpanded" src="../../../../assets/images/analytic.png" />
        </span>
        <span class="menu-link-label ml-4" style="padding-left: 5px;">Analytics</span>
      </mat-list-item>
      <mat-list-item data-toggle="collapse" (click)="navigate('/audittrails')" class="mat-list-value">
        <span class="sidenav-icon">
          <img *ngIf="isExpanded" src="../../../../assets/images/file 1.png" />
        </span>
        <br />
        <span class="menu-link-label ml-4">Audit Trials</span>
      </mat-list-item>
      <mat-list-item (click)="navigate('/profilescreen')" class="mat-list-value"
        [ngClass]="{ 'active-link': activeLink == 'profilesceen' }">
        <span class="sidenav-icon" *ngIf="activeLink != 'profilescreen'">
          <img *ngIf="isExpanded" src="../../../../assets/images/profile 1.png" />
        </span>
        <span class="sidenav-icon" *ngIf="activeLink == 'profilescreen'" style="margin-left: -8px;">
          <img *ngIf="isExpanded" src="../../../../assets/images/profile.png" />
        </span>
        <br />
        <span class="menu-link-label ml-4" style="padding-left: 8px;">Profiles</span>
      </mat-list-item>
    </mat-nav-list>
    <div class="text-right logoutbtn">
      <img draggable="false" *ngIf="isExpanded" src="../../../../assets/images/11 Starv.png" alt="collapsed_icon" />
    </div>
  </mat-drawer>
  <div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>