.mat-drawer-inner-container {
  overflow:  hidden !important;
}
::ng-deep .mat-list-item{
  opacity: 1;
  margin-bottom: 10px !important;
}
.logoutbtn{
  margin-top: 130px;
  margin-left: 38px;
}
.matdrawerside{
  width: 109px;
}
.sidebarsty{
  /* position: absolute; */
width: 109px;
height: 76px;
left: 0px;
top: 0px;
background: #86C255;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.06);
}
.mat-list-value{
  margin-bottom: 20px !important;
}
.imgsty{
  position: absolute;
  width: 61px;
  height: 23.69px;
  left: 20px;
  top: 26px;
}
.example-matcontainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mat-drawer {
  opacity: 0.9;
  background: White;
}
.mat-drawer.mat-drawer-side {
  background-color: #F5F5F5 !important;
}
.menu-link-label {
  font-family: LATO-Regular;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: #4D556A;
}
.active-link .menu-link-label,
.mat-nav-list .mat-list-item:hover .mat-icon,
.mat-nav-list .mat-list-item:hover .menu-link-label {
  color: #86C255 !important;
}
.mat-nav-list .mat-list-item:hover .mat-icon,
.mat-nav-list .mat-list-item:hover .menu-link-label {
  font-weight: 600 !important;
}
.mat-nav-list .mat-list-item:hover .sidenav-icon img {
  background-color: #86C255;
}


::ng-deep .mat-drawer.mat-drawer-side{
  overflow: hidden !important;
}
::ng-deep  .mat-drawer-inner-container {
overflow: hidden !important;
}
::ng-deep body{
  overflow: hidden !important;
}
/* ::ng-deep .mat-form-field-label{
  display: none !important;
} */
::ng-deep .mat-list-item-content{
  display: block !important;
  padding: 0px !important;
  margin-bottom: 10px !important;
}
.sidenav-icon{
  padding-left: 14px;
}
::ng-deep .mat-drawer-container{
  background: none;
}