.sidebar-logo {
  height: 75px;
  background: #86c255;
  display: flex;
  justify-content: center;
  align-items: center;
}
::ng-deep .mat-nav-list .mat-list-item .mat-list-item-ripple {
  visibility: hidden !important;
}
.mat-drawer-side {
  border-right: none;
}
::ng-deep.mat-list-item-content {
  width: 109px;
  display: flex !important;
  flex-direction: column !important;
  text-align: center;
}

::ng-deep.mat-list-item-content:hover {
  background: none !important;
}
.logout-section {
  position: absolute;
  bottom: 0;
  width: 109px;
  height: 80px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.logout-section img:hover {
  cursor: pointer;
}
.mat-list-base .mat-list-item {
  height: 75px !important;
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}
::ng-deep .mat-list-item {
  opacity: 1;
}
.matdrawerside {
  width: 109px;
}

.pagilant-sidebar-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mat-drawer {
  opacity: 0.9;
  background: White;
}
.mat-drawer.mat-drawer-side {
  background-color: #f5f5f5 !important;
}
.menu-link-label {
  font-family: LATO-Regular;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: #4d556a;
}
.active-link .menu-link-label,
.mat-nav-list .mat-list-item:hover .mat-icon,
.mat-nav-list .mat-list-item:hover .menu-link-label {
  color: #86c255 !important;
}
.mat-nav-list .mat-list-item:hover .mat-icon,
.mat-nav-list .mat-list-item:hover .menu-link-label {
  font-weight: 600 !important;
}
/* .mat-nav-list .mat-list-item:hover .sidenav-icon img {
  background-color: #86C255;
} */

::ng-deep .mat-drawer.mat-drawer-side {
  overflow: hidden !important;
}
::ng-deep .mat-drawer-inner-container {
  overflow: hidden !important;
}
::ng-deep body {
  overflow: hidden !important;
}
.sidenav-icon {
  position: relative;
  height: 50px;
  width: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
::ng-deep .mat-drawer-container {
  background: none;
}
