.formInput {
  width: 429px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 30px;
}
.email-input {
  padding-top: 2px;
}
.email-text-input {
  margin-top: 42px;
  text-indent: 25px;
  font-family: Lato;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}
.password-text-input {
  text-indent: 22px;
  font-family: Lato;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}
.token-input {
  font-family: Lato;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}
.matcrs {
  width: 490px;
  height: 358px;
  background: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 110px;
}
.payglint-img {
  width: 160px;
  margin-left: 150px;
  margin-bottom: 20px;
}
.login-button {
  width: 214px;
  height: 50px;
  background: #5d6276;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  margin-left: 140px;
  margin-top: 10px;
}
.txtsty {
  width: 44px;
  height: 22px;
  font-family: LATO-Bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}
.textstyone {
  width: 196px;
  height: 22px;
  font-family: LATO-Regular;
  font-size: 16px;
  margin-top: 110px;
  line-height: 22px;
  color: #000000;
  margin-left: 120px;
  opacity: 0.4;
}
#icon {
  background-image: url(../../../assets/images/lock.png);
  background-repeat: no-repeat;
  background-position: 7px 14px;
}
#emailicon {
  background-image: url(../../../assets/images/email.png);
  background-repeat: no-repeat;
  background-position: 7px 14px;
}
::ng-deep body {
  overflow: hidden !important;
}
