<div class="adduser-wrapper">
  <div class="modal-header">
    <div class="header-title">Create New User</div>
    <div class="close_icon">
      <img
        src="../../../assets/images/close_icon.svg"
        alt="Close Icon"
        draggable="false"
        (click)="CloseDialog()"
      />
    </div>
  </div>
  <div class="modal-body">
      <form>
          <div class="form-group">
            <input 
            type="text" 
            name="text-name" 
            id="text-name" 
            placeholder="New User Name"
            autocomplete="off"
            class="form-control text-name" />
          </div>
          <div class="form-group">
              <input 
              type="text" 
              name="text-email" 
              id="text-email" 
              placeholder="New User Email"
              autocomplete="off"
              class="form-control text-email" />
          </div>
          <div class="form-group">
            <mat-form-field class="select-role" floatLabel="never">
                <mat-label class="select-role-label">Role</mat-label>
                <mat-select  name="role" class="mat-role-select">
                  <mat-option value="Admin User">
                    Admin User
                  </mat-option>
                  <mat-option value="Super User">
                    Super User
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
          <div class="create-button-wrapper">
            <button class="btn btn-create">Save</button>
          </div>
      </form>
  </div>
</div>

