<mat-drawer-container class="pagilant-sidebar-wrapper">
  <mat-drawer
    #drawer
    mode="side"
    disableClose="true"
    opened="true"
    class="matdrawerside"
  >
    <!-- side bar app logo -->
    <div class="sidebar-logo">
      <img
        src="../../../../assets/images/Pagilant_logo.svg"
        alt="LOGO"
        draggable="false"
      />
    </div>

    <!-- side bar nav list section -->
    <mat-nav-list class="nav-list-wrapper">
      <!-- dashboard menu -->
      <mat-list-item
        (click)="navigate('axiom-test/dashboard/dashboard')"
        class="mat-list-value"
        [ngClass]="{ 'active-link': activeLink == 'dashboard' }"
        [disableRipple]="true"
      >
        <span class="sidenav-icon" *ngIf="activeLink != 'dashboard'">
          <img
            *ngIf="isExpanded"
            src="../../../../assets/images/dashboard_icon.svg"
          />
        </span>
        <span class="sidenav-icon" *ngIf="activeLink == 'dashboard'">
          <img
            *ngIf="isExpanded"
            src="../../../../assets/images/dashboard_active_icon.svg"
          />
        </span>
        <span class="menu-link-label">Dashboard</span>
      </mat-list-item>

      <!-- events menu -->
      <mat-list-item
        (click)="navigate('axiom-test/dashboard/events')"
        [ngClass]="{ 'active-link': activeLink == 'events' }"
        class="mat-list-value"
      >
        <span class="sidenav-icon" *ngIf="activeLink != 'events'">
          <img
            *ngIf="isExpanded"
            src="../../../../assets/images/event_icon.svg"
          />
        </span>
        <span class="sidenav-icon" *ngIf="activeLink == 'events'">
          <img
            *ngIf="isExpanded"
            src="../../../../assets/images/event_active_icon.svg"
          />
        </span>
        <span class="menu-link-label">Events</span>
      </mat-list-item>
      <!-- Screen events menu -->
      <mat-list-item
        (click)="navigate('axiom-test/dashboard/screenevents')"
        [ngClass]="{ 'active-link': activeLink == 'screenevents' }"
        class="mat-list-value"
      >
        <span class="sidenav-icon" *ngIf="activeLink != 'screenevents'">
          <img
            *ngIf="isExpanded"
            src="../../../../assets/images/screen_events_icon.svg"
          />
        </span>
        <span class="sidenav-icon" *ngIf="activeLink == 'screenevents'">
          <img
            *ngIf="isExpanded"
            src="../../../../assets/images/screen_events_active_icon.svg"
          />
        </span>
        <span class="menu-link-label">Screen Events</span>
      </mat-list-item>
      <!-- reports menu -->
      <mat-list-item
        (click)="navigate('axiom-test/dashboard/reports')"
        class="mat-list-value"
        [ngClass]="{ 'active-link': activeLink == 'reports' }"
      >
        <span class="sidenav-icon" *ngIf="activeLink != 'reports'">
          <img
            *ngIf="isExpanded"
            src="../../../../assets/images/reports_icon.svg"
          />
        </span>

        <span class="sidenav-icon" *ngIf="activeLink == 'reports'">
          <img
            *ngIf="isExpanded"
            src="../../../../assets/images/reports_active_icon.svg"
          />
        </span>
        <span class="menu-link-label">Reports</span>
      </mat-list-item>
      <!-- analytics menu -->
      <mat-list-item
        (click)="navigate('axiom-test/dashboard/analytics')"
        class="mat-list-value"
        [ngClass]="{ 'active-link': activeLink == 'analytics' }"
      >
        <span class="sidenav-icon" *ngIf="activeLink != 'analytics'">
          <img
            *ngIf="isExpanded"
            src="../../../../assets/images/analytics_icon.svg"
          />
        </span>

        <span class="sidenav-icon" *ngIf="activeLink == 'analytics'">
          <img
            *ngIf="isExpanded"
            src="../../../../assets/images/analytics_active_icon.svg"
          />
        </span>
        <span class="menu-link-label">Analytics</span>
      </mat-list-item>
      <!-- audit trails menu -->
      <mat-list-item
        data-toggle="collapse"
        (click)="navigate('axiom-test/dashboard/audittrails')"
        class="mat-list-value"
        [ngClass]="{ 'active-link': activeLink == 'audittrails' }"
      >
        <span class="sidenav-icon" *ngIf="activeLink != 'audittrails'">
          <img
            *ngIf="isExpanded"
            src="../../../../assets/images/audit_trails_icon.svg"
          />
        </span>
        <span class="sidenav-icon" *ngIf="activeLink == 'audittrails'">
          <img
            *ngIf="isExpanded"
            src="../../../../assets/images/audit_trails_active_icon.svg"
          />
        </span>
        <span class="menu-link-label">Audit Trials</span>
      </mat-list-item>
      <!-- Profile menu -->
      <mat-list-item
        (click)="navigate('axiom-test/dashboard/profilescreen')"
        class="mat-list-value"
        [ngClass]="{ 'active-link': activeLink == 'profilesceen' }"
      >
        <span class="sidenav-icon" *ngIf="activeLink != 'profilescreen'">
          <img
            *ngIf="isExpanded"
            src="../../../../assets/images/profile_icon.svg"
          />
        </span>
        <span class="sidenav-icon" *ngIf="activeLink == 'profilescreen'">
          <img
            *ngIf="isExpanded"
            src="../../../../assets/images/profile_active_icon.svg"
          />
        </span>
        <span class="menu-link-label">Profiles</span>
      </mat-list-item>
    </mat-nav-list>
    <!-- end of mat list navigation -->

    <!-- nav footer section -->
    <div class="logout-section">
      <img
        draggable="false"
        *ngIf="isExpanded"
        src="../../../../assets/images/11 Starv.png"
        alt="collapsed_icon"
        (click)="userLogout()"
      />
    </div>
    <!-- end of nav footer section -->
  </mat-drawer>
  <div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
