<div class="checkdeteails" *ngIf="true">
  <div class="checkpoint">
    <div class="checkpoint-header">Checkpoint Details</div>
    <div class="checkpoint-options-right">
        <img src="../../../assets/images/share_icon.svg" class="mr-2" draggable="false" />
        <img src="../../../../assets/images/close_white.svg" draggable="false" (click)="closePopup(dis)" />
    </div>
    <!-- <span style="padding-left: 90px" class="share-icon">
      <img src="../../../assets/images/share_icon.svg" />
    </span>
    <span style="padding-left: 20px" (click)="addNew(dis)" class="close-icon">
      <img src="../../../../assets/images/close_white.svg" />
    </span> -->
  </div>
  <div class="checkpoint-content-wrapper">
    <div class="inlinebtn">
      <div class="lowbtn">
        <div class="btns">{{ row.severity }}</div>
      </div>
      <div class="select-resolutions">
        <mat-form-field class="single-select" floatLabel="never">
          <mat-label>Select Resolution</mat-label>
          <mat-select class="select-input" panelClass="selectInputClass">
            <mat-option value="one">Safe</mat-option>
            <mat-option value="two">Fraud</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="checkbody">
      <div class="check-general" (click)="gencollapse()">
        <span class="checktext">General Information </span>
        <span class="arrowimg"
          ><img src="../../../assets/images/path9429 (2).png"
        /></span>
      </div>
      <div class="genaralinf" *ngIf="showgeninf">
        <div class="adressline">
          <span class="acordian1">IP</span>
          <span class="acordian2">{{ ip }}</span>
        </div>

        <div class="adressline2">
          <span class="acordian1">User ID</span>
          <span class="acordian2">{{ userID }}</span>
        </div>
        <div class="adressline">
          <span class="acordian1">Checkpoint</span>
          <span class="acordian2">{{ checkpoint }}</span>
        </div>
        <div class="adressline2">
          <span class="acordian1">Risk Score</span>
          <span class="acordian2">{{ riskScore }}</span>
        </div>
        <div class="adressline">
          <span class="acordian1">Severity</span>
          <span class="acordian2">{{ severity }}</span>
        </div>

        <div class="adressline2">
          <span class="acordian1">Request ID</span>
          <span class="acordian2">{{ requestID }}</span>
        </div>
        <div class="adressline">
          <span class="acordian1">Device</span>
          <span class="acordian2">{{ device }}</span>
        </div>
        <div class="adressline2">
          <span class="acordian1">Session ID</span>
          <span class="acordian2">{{ session }}</span>
        </div>
      </div>
      <div style="margin-top: 10px">
        <div class="check-general" (click)="usercollapse()">
          <span class="checktext">User Information </span>
          <span class="arrowimginf"
            ><img src="../../../assets/images/path9429 (2).png"
          /></span>
        </div>
        <div class="genaralinf" *ngIf="showuserinf">
          <div class="adressline">
            <span class="acordian1">Email</span>
            <span class="acordian2">{{ email }}</span>
          </div>

          <div class="adressline2">
            <span class="acordian1">Email Verifation</span>
            <span class="acordian2">{{ emailVerification }}</span>
          </div>
          <div class="adressline">
            <span class="acordian1">Phone</span>
            <span class="acordian2">{{ phone }}</span>
          </div>
          <div class="adressline2">
            <span class="acordian1">Phone Verification</span>
            <span class="acordian2">{{ phoneVerification }}</span>
          </div>
        </div>
      </div>
      <div style="margin-top: 10px">
        <div class="check-general" (click)="reasoncollapse()">
          <span class="checktext">Reason </span>
          <span class="arrowimguser"
            ><img src="../../../assets/images/path9429 (2).png"
          /></span>
        </div>
        <div class="genaralinf" *ngIf="showreasoninf">
          <div class="device">
            <span class="devimg"></span>
            <span class="devtxt">Device</span>
          </div>
          <div class="adressline2">
            <span class="useimg1"></span>
            <span class="usertxt">User is known for this device</span>
          </div>
          <div class="adressline2">
            <span class="useimg"></span>
            <span class="usertxt">Location issue</span>
          </div>
          <div class="deviceuser">
            <span class="userimg"></span>
            <span class="devtxt">User</span>
          </div>
          <div class="adressline">
            <span class="newuseimg1"></span>
            <span class="usertxt">New email Address</span>
          </div>
          <div class="adressline2">
            <span class="transimg"></span>
            <span class="usertxt">Transaction</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
