<div class="analytics-page">
    <div class="row">
        <div class="col-6">
            <h5 class="is-page-header">Analytics</h5>
        </div>
        <div class="col-6 justify-content-end d-flex">
            <img src="../../../../assets/images/user_img.png" />
            <span class="is-user-name-text my-auto mx-2">Amanda Isti</span>
            <img src="../../../../assets/images/user_down_arrow.svg" />
        </div>
    </div>
    <div class="row">
        <div class="col-4 p-3">
            <div class="is-daily-record-chart-section">
                <div class="text-center">
                    <span class="is-chart-header">Daily Approved Transactions</span>
                </div>
                <canvas #approvedTransactionChart id="approvedTransactionChart" height="280px" width="330px"></canvas>
            </div>
        </div>
        <div class="col-4 p-3">
            <div class="is-daily-record-chart-section">
                <div class="text-center">
                    <span class="is-chart-header">Daily Approved Transactions - $ Amount</span>
                </div>
                <canvas #approvedTransactionAmountChart id="approvedTransactionAmountChart" height="280px"
                    width="330px"></canvas>
            </div>
        </div>
        <div class="col-4 p-3">
            <div class="is-daily-record-chart-section">
                <div class="text-center">
                    <span class="is-chart-header">Daily Transactions</span>
                </div>
                <canvas #transactionChart id="transactionChart" height="280px" width="330px"></canvas>
            </div>
        </div>
        <div class="col-4 p-3">
            <div class="is-daily-record-chart-section">
                <div class="text-center">
                    <span class="is-chart-header">Daily High Risk Transactions</span>
                </div>
                <canvas #highRiskTransactionChart id="highRiskTransactionChart" height="280px" width="330px"></canvas>
            </div>
        </div>
        <div class="col-4 p-3">
            <div class="is-daily-record-chart-section">
                <div class="text-center">
                    <span class="is-chart-header">Top 5 Users - High Risk Transactions</span>
                </div>
                <canvas #highRiskTransactionTopUsersChart id="highRiskTransactionTopUsersChart" height="280px"
                    width="330px"></canvas>
            </div>
        </div>
        <div class="col-4 p-3">
            <div class="is-daily-record-chart-section">
                <div class="text-center">
                    <span class="is-chart-header">Daily Approved Transactions For Same Day</span>
                </div>
                <canvas #approvedTransactionSameDayChart id="approvedTransactionSameDayChart" height="280px"
                    width="330px"></canvas>
            </div>
        </div>
    </div>
</div>